<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.tzutalin.dlibtest"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- CAMERA -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:name=".DlibDemoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        android:usesCleartextTraffic="true">
        <activity
            android:name=".LoginActivity"

            android:screenOrientation="portrait"
            tools:ignore ="LockedOrientationActivity"

            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"

            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>


        <activity android:name=".signupEvnet"
            android:screenOrientation="portrait"
            tools:ignore ="LockedOrientationActivity"/>
        <activity android:name=".menuEvent"
            android:screenOrientation="portrait"
            tools:ignore ="LockedOrientationActivity"/>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore ="LockedOrientationActivity"/>
        <activity android:name=".SettingActivity"
            android:screenOrientation="portrait"
            tools:ignore ="LockedOrientationActivity"/>
        <activity android:name=".WebViewActivity"
            android:screenOrientation="portrait"
            tools:ignore ="LockedOrientationActivity"/>

        <activity android:name=".dashboardRedActivity"
            android:screenOrientation="portrait"
            tools:ignore ="LockedOrientationActivity"/>
        <activity android:name=".dashboardYellowActivity"
            android:screenOrientation="portrait"
            tools:ignore ="LockedOrientationActivity"/>
        <activity android:name=".dashboardBlueActivity"
            android:screenOrientation="portrait"
            tools:ignore ="LockedOrientationActivity"/>


        <activity android:name=".use1Activity"
            android:screenOrientation="portrait"
            tools:ignore ="LockedOrientationActivity"/>
        <activity android:name=".use2Activity"
            android:screenOrientation="portrait"
            tools:ignore ="LockedOrientationActivity"/>
        <activity android:name=".use3Activity"
            android:screenOrientation="portrait"
            tools:ignore ="LockedOrientationActivity"/>
        <activity android:name=".use0Activity"
            android:screenOrientation="portrait"
            tools:ignore ="LockedOrientationActivity"/>
        <activity android:name=".usedashboradActivity"
            android:screenOrientation="portrait"
            tools:ignore ="LockedOrientationActivity"/>


        <activity
            android:name=".CameraActivity"
            android:screenOrientation="portrait"
            tools:ignore ="LockedOrientationActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".SpeechMainActivity"
            android:screenOrientation="portrait"
            tools:ignore ="LockedOrientationActivity"
            >
        </activity>


    </application>

</manifest>
